
.DS_Store
SampleApp.xcodeproj/project.xcworkspace/xcuserdata/willbrandin.xcuserdatad/UserInterfaceState.xcuserstate
SampleApp.xcodeproj/xcuserdata/willbrandin.xcuserdatad/xcschemes/xcschememanagement.plist
